.flights {
  &__list {
    display: grid;
    row-gap: 1rem;
  }

  &__flight-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr) repeat(3, 0.5fr);
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid $third-color;

    &--sold-out {
      color: #ccc;
      background-color: rgba($color: #aaa, $alpha: 0.2);
      position: relative;

      &::after {
        content: "SOLD OUT";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: $fourth-color;
        font-size: $font-size-title-3;
        font-weight: $font-weight-heavy;
      }

      & p {
        filter: blur(2px);
      }
    }
  }

  &__flight-item-wrap {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
  }

  &__flight-from {
  }

  &__flight-to {
  }

  &__flight-departure {
  }

  &__flight-arrival {
  }
}
