.flights {
  &__list {
    display: grid;
    row-gap: 1rem;
  }

  &__flight-wrap {
    display: grid;
    grid-template-columns: repeat(4, 2fr) repeat(2, 0.5fr) 1fr 0.5fr;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid $third-color;
    transition: all 0.1s ease-out;

    &--sold-out {
      color: #ccc;
      background-color: rgba($color: #aaa, $alpha: 0.2);
      position: relative;

      &::after {
        content: "SOLD OUT";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: $fourth-color;
        font-size: $font-size-title-3;
        font-weight: $font-weight-heavy;
      }

      & p {
        filter: blur(2px);
      }
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0.3rem $third-color;
      transform: scale(1.01);
      font-weight: $font-weight-medium;
    }
  }

  &__flight-item-wrap {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
  }

  &__order-btn {
    padding: 0.5rem 2rem;
    background-color: transparent;
    border: 1px solid $third-color;
    font-weight: $font-weight-heavy;

    &:hover {
      cursor: pointer;
      background-color: $third-color;
      color: $color-light;
    }
  }
}
