// COLORS
$first-color: #6d42c7;
$second-color: #626fe6;
$third-color: #8aacff;
$fourth-color: #e85b48;

// FONTS
$font-primary: "Montserrat", sans-serif;

$font-size-standard: 1.6rem;
$fonts-size-title-1: 3rem;
$fonts-size-title-2: 2.5rem;
$fonts-size-title-3: 2rem;

$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-heavy: 700;
