// COLORS
$first-color: #6d42c7;
$second-color: #626fe6;
$third-color: #8aacff;
$fourth-color: #e85b48;
$color-dark: #000;
$color-gray: #aaa;
$color-light: #fff;

// FONTS
$font-primary: "Montserrat", sans-serif;

$font-size-standard: 1.6rem;
$font-size-title-1: 3rem;
$font-size-title-2: 2.5rem;
$font-size-title-3: 2rem;

$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-heavy: 700;
